.info {
  font-size: 16px;
  text-align: center;
}
.info .author-avatar {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  border: 0.3em solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.075em 1em 0.5em rgba(0,0,0,0.19);
  box-shadow: 0 0.075em 1em 0.5em rgba(0,0,0,0.19);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.info .author-avatar:hover {
  -webkit-transform: rotateY(720deg);
  -moz-transform: rotateY(720deg);
  -o-transform: rotateY(720deg);
  -ms-transform: rotateY(720deg);
  transform: rotateY(720deg);
}
.info .author-name {
  color: #26272b;
  font-size: 1.8em;
  margin: 0.5em;
}
.info .author-description {
  color: #444;
  font-size: 1.2em;
  margin: 0.5em;
}
.info .site-count {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.5em 0em;
  text-align: center;
  font-size: 0.8em;
}
.info .site-count .site-count-divider {
  line-height: 1.5em;
  font-size: 2em;
}
.info .site-count p {
  margin: 0;
  font-size: 1.2em;
}
.info .rss {
  padding: 0.5em;
}
.info .rss .rss-link {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  background: #fc6423;
  padding: 0.2em;
  line-height: 1.25em;
}
.post-toc {
  font-size: 16px;
}
.post-toc .toc-link.active {
  color: #006bde;
  border-bottom: 0.05em solid #006bde;
}
.sidebar {
  font-size: 16px;
  background: url("/images/sidebar_background.png");
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  width: 25%;
  padding: 0;
  word-wrap: break-word;
}
.sidebar .search {
  height: 2.5em;
  display: block;
  text-align: center;
  background: #006bde;
  color: #fff;
  padding-top: 0.5em;
}
.sidebar .search input {
  width: 60%;
  height: 1.5em;
  border: 0.1em solid transparent;
  border-bottom: 0.1em dashed #fff;
  background: #006bde;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.sidebar .search input:focus {
  outline: none;
  border-bottom: 0.1em solid #fff;
}
.sidebar .search input::placeholder {
  color: #fff;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.sidebar .search-result-box {
  background: #fff;
  word-warp: break-word;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.sidebar .search-result-box .search-result-list {
  margin-top: 0;
  padding: 1em 2em;
}
.sidebar .search-result-box:hover {
  -webkit-box-shadow: 0 0.075em 1em 0.5em rgba(0,0,0,0.19);
  box-shadow: 0 0.075em 1em 0.5em rgba(0,0,0,0.19);
}
.sidebar .sidebar-item {
  padding: 1em 2em;
}
.sidebar .sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar hr {
  height: 0.3em;
  border: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #ddd;
  background-image: -webkit-repeating-linear-gradient(135deg, #fff, #fff 0.25em, transparent 0.25em, transparent 0.5em);
  background-image: -moz-repeating-linear-gradient(135deg, #fff, #fff 0.25em, transparent 0.25em, transparent 0.5em);
  background-image: -o-repeating-linear-gradient(135deg, #fff, #fff 0.25em, transparent 0.25em, transparent 0.5em);
  background-image: -ms-repeating-linear-gradient(135deg, #fff, #fff 0.25em, transparent 0.25em, transparent 0.5em);
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 0.25em, transparent 0.25em, transparent 0.5em);
}
@media (max-width: 48em) {
  .sidebar {
    width: 100%;
  }
  .sidebar .social-link,
  .sidebar .blogroll {
    text-align: center;
  }
  .sidebar .social-link ul,
  .sidebar .blogroll ul {
    padding: 0;
  }
  .sidebar .social-link ul li,
  .sidebar .blogroll ul li {
    display: inline-block;
    margin: 0.5em 1em;
  }
  .sidebar .post-toc {
    text-align: center;
  }
  .sidebar .post-toc ol li {
    text-align: left;
  }
  .sidebar .sidebar-sticky {
    position: relative;
  }
}
